<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/home.css" media="screen" />
    <title>CONTAGEM</title>
</head>
<body>
    <div class="marca" id="marca">
        <img src="static/img/simbolo-logo-vermelho.png" width="100px" height="100px">
    </div>
    <div class="main" id="main">
        <div class="menu" id="menu">
            <a href="\adm" id="lk">
                <h3 class="ladm" id="ladm">ADMINISTRADOR</h3>
            </a>    
            <a href="\contador" id="lk">
                <h3 class="lcontador" id="lcontador">LOJA</h3>
            </a>
        </div>
    </div>
    <script type="text/javascript" src="static/js/home.js"></script>
</body>
</html>